<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

<h1>Tasks List</h1>

<div>
    <table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priority</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td>
            <span th:if="${task.status.name() == 'TODO'}">TODO</span>
            <span th:if="${task.status.name() == 'IN_PROGRESS'}">IN PROGRESS</span>
            <span th:if="${task.status.name() == 'DONE'}">DONE</span>
        </td>
        <td th:text="${task.priority}"></td>
    </tr>
    </tbody>
</table>
</div>

</body>

</html>